.stack__cards {
  .stack__card {
    position: sticky !important;
    top: 15vh;
    height: 70vh;
    margin-bottom: 25vh;
    background: aquamarine;

    &:last-child {
      margin-bottom: 0;
    }

    .content_block {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .stack__card_image {
      padding-left: 0;
      padding-right: 0;

      figure {
        height: 100%;
      }

      figure,
      img {
        object-fit: cover;
        aspect-ratio: 1 / 1;
      }
    }
  }
}
