@font-face {
    font-family: 'Opinion Pro Ex Lt';
    src: url('OpinionProExtended-Light.eot');
    src: local('Opinion Pro Extended Light'), local('OpinionProExtended-Light'),
        url('OpinionProExtended-Light.eot?#iefix') format('embedded-opentype'),
        url('OpinionProExtended-Light.woff2') format('woff2'),
        url('OpinionProExtended-Light.woff') format('woff'),
        url('OpinionProExtended-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Opinion Pro Cn Lt';
    src: url('OpinionProCondensed-LightItalic.eot');
    src: local('Opinion Pro Condensed LightItalic'), local('OpinionProCondensed-LightItalic'),
        url('OpinionProCondensed-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('OpinionProCondensed-LightItalic.woff2') format('woff2'),
        url('OpinionProCondensed-LightItalic.woff') format('woff'),
        url('OpinionProCondensed-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Opinion Pro Lt';
    src: url('OpinionPro-LightItalic.eot');
    src: local('Opinion Pro Light Italic'), local('OpinionPro-LightItalic'),
        url('OpinionPro-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('OpinionPro-LightItalic.woff2') format('woff2'),
        url('OpinionPro-LightItalic.woff') format('woff'),
        url('OpinionPro-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Opinion Pro ExCn Lt';
    src: url('OpinionProExtraCondensed-Light.eot');
    src: local('Opinion Pro ExtraCondensed Light'), local('OpinionProExtraCondensed-Light'),
        url('OpinionProExtraCondensed-Light.eot?#iefix') format('embedded-opentype'),
        url('OpinionProExtraCondensed-Light.woff2') format('woff2'),
        url('OpinionProExtraCondensed-Light.woff') format('woff'),
        url('OpinionProExtraCondensed-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Opinion Pro Ex Lt';
    src: url('OpinionProExtended-LightItalic.eot');
    src: local('Opinion Pro Extended Light Italic'), local('OpinionProExtended-LightItalic'),
        url('OpinionProExtended-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('OpinionProExtended-LightItalic.woff2') format('woff2'),
        url('OpinionProExtended-LightItalic.woff') format('woff'),
        url('OpinionProExtended-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Opinion Pro ExCn Lt';
    src: url('OpinionProExtraCondensed-LightItalic.eot');
    src: local('Opinion Pro ExtraCondensed Light Italic'), local('OpinionProExtraCondensed-LightItalic'),
        url('OpinionProExtraCondensed-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('OpinionProExtraCondensed-LightItalic.woff2') format('woff2'),
        url('OpinionProExtraCondensed-LightItalic.woff') format('woff'),
        url('OpinionProExtraCondensed-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Opinion Pro Lt';
    src: url('OpinionPro-Light.eot');
    src: local('Opinion Pro Light'), local('OpinionPro-Light'),
        url('OpinionPro-Light.eot?#iefix') format('embedded-opentype'),
        url('OpinionPro-Light.woff2') format('woff2'),
        url('OpinionPro-Light.woff') format('woff'),
        url('OpinionPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Opinion Pro Cn Lt';
    src: url('OpinionProCondensed-Light.eot');
    src: local('Opinion Pro Condensed Light'), local('OpinionProCondensed-Light'),
        url('OpinionProCondensed-Light.eot?#iefix') format('embedded-opentype'),
        url('OpinionProCondensed-Light.woff2') format('woff2'),
        url('OpinionProCondensed-Light.woff') format('woff'),
        url('OpinionProCondensed-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

